/*
===== COMMON =====
 */
.resp-nav { visibility: hidden; position: absolute; }
.resp-nav-load { position: absolute; top: 12px; left: -5px; cursor: pointer; display: none; }
.device-sm .resp-nav-load { top: 16px; }
.resp-nav-mask { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(64,69,81,0.5); display: none; z-index: 100000; }
.resp-nav .desktop-only, .resp-nav .mobile-only { display: none; }


/*
===== DESKTOP =====
 */
.resp-nav.desktop .desktop-only { display: block; }
.resp-nav.desktop { width: 100%; height: 50px; position: relative; visibility: visible; z-index: 200;
	background: #f2f2f2; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #e8e8e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f9f9 0%,#e8e8e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#e8e8e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9f9f9 0%,#e8e8e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */ 
 }
.resp-nav.desktop li { position: relative; }
.resp-nav.desktop li:hover { z-index: 999; }
.resp-nav.desktop li:hover > .sub { display: block !important; }

.resp-nav.desktop nav { width: 1200px; margin: 0 auto; padding: 0 20px; z-index: 20; position: relative; }
.device-md .resp-nav.desktop nav { width: 992px; padding: 0 15px; }
.resp-nav.desktop .page-mask { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: none; display: none; z-index: 10; }


/** Top level links */
.resp-nav.desktop nav>ul>li { float: left; border-left: 1px solid #e5e5e5; }

.resp-nav.desktop nav>ul>li>a { height: 50px; position: relative; font-size: 15px; color: #1e1e1e; line-height: 30px; padding: 10px 15px; border-left: 1px solid #ffffff; display: block; text-decoration: none; }
.resp-nav.desktop nav>ul>li.right>a { margin-right: 0; }
.device-md .resp-nav.desktop nav>ul>li>a { padding: 10px; }
.resp-nav.desktop nav>ul>li>a.twolines { line-height: normal; padding-top: 7px; }
.resp-nav.desktop nav>ul>li>a.twolines .br { display: block; }
.resp-nav.desktop nav>ul>li.active>a { background: #ffffff; }
.resp-nav.desktop nav>ul>li:hover>a { position: relative; background: #ffffff; padding-bottom: 0; transition: 0.25s ease; }
.resp-nav.desktop nav>ul>li.highlight>a { font-weight: 500; background: #bccf35; color: #000000; }


/** Sub Nav Styles */
.resp-nav.desktop li li { font-size: 13px; }
.resp-nav.desktop li li:last-child { }
.resp-nav.desktop li li a { line-height: 18px; padding: 5px 15px; text-decoration: none; color: #8c8990; display: block; }
.resp-nav.desktop li li:hover>a { text-decoration: none; color: #1e1e1e; }
.resp-nav.desktop i { position: absolute; top: 10px; right: 15px; color: #a6a6a6 !important; }


/** Sub Nav Positioning */
.resp-nav.desktop .sub { position: absolute; top: -1px; left: 100%; width: 100%; display: none; }
.resp-nav.desktop nav>ul>li>.sub { left: 0; top: 100%; }
.resp-nav.desktop .sub.right { left: auto; right: 0; }
.resp-nav.desktop .sub.right .sub { left: auto; right: 100%; }


/** Sub Nav Col Sizes */
.resp-nav.desktop .col-1 { width: 240px; }
.resp-nav.desktop .col-2 { width: 470px; }
.resp-nav.desktop .col-3 { width: 720px; }
.resp-nav.desktop .col-4 { width: 950px; }
.resp-nav.desktop .col-brand { width: 600px; }


/** Sub Nav Colours */
.resp-nav.desktop .sub { padding: 10px; background: #ffffff; box-shadow: 0px 15px 30px 5px rgba(0,0,0,0.25); -webkit-box-shadow: 0px 15px 30px 5px rgba(0,0,0,0.25);  -moz-box-shadow: 0px 15px 30px 5px rgba(0,0,0,0.25); }
.resp-nav.desktop .sub .sub { background: #ffffff; box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.25); -webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.25);  -moz-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.25); }
.resp-nav.desktop .sub .sub .sub { background: #ffffff; }
.resp-nav.desktop .sub .sub .sub .sub { background: #ffffff; }


/** Hides */
.resp-nav.desktop h2, .resp-nav.desktop button { display: none; }


/** Sub Nav Brands */
.resp-nav.desktop .brands .sub { padding: 15px; }
.resp-nav.desktop .brands li { border-bottom: none; }
.resp-nav.desktop .brands li a { padding: 0; text-decoration: none; }
.resp-nav.desktop .brands li:hover>a { background: none; }
.resp-nav.desktop .brands li a img { border: solid 1px transparent; }
.resp-nav.desktop .brands li:hover>a img { border: solid 1px #e5e5e5; }

.resp-nav.desktop .brands li span { display: none; }
.resp-nav.desktop .brands .view-all { clear: left; display: block; text-align: center; }

.resp-nav.mobile .brands img { display: none; }


/*
===== MOBILE =====
 */
.resp-nav-load.mobile { display: block; }
.resp-nav.mobile .mobile-only { display: block; }
.resp-nav.mobile { position: fixed; top: 0; left: -100%; width: 80%; height: 100%; background: #fff; z-index: 100001; overflow: hidden; }
.resp-nav.mobile nav { position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 0; }
.resp-nav.mobile nav>ul { height: 100%; overflow: auto; }
.resp-nav.mobile .load-nav { position: absolute; top: 0; left: 0; }
.resp-nav.mobile li { line-height: 20px; border-bottom: solid 1px #ccc; }
.resp-nav.mobile li.right { float: none !important; }
.resp-nav.mobile li:hover { background: #e5e5e5; }
.resp-nav.mobile a { padding: 10px 25px 10px 15px; display: block; position: relative; text-decoration: none; }
.resp-nav.mobile a i { position: absolute; right: 15px; top: 50%; margin-top: -8px; }
.resp-nav.mobile ul { position: static; padding: 0; }

.resp-nav.mobile .sub { position: absolute; top: 0; left: 100%; width: 100%; height: 100%; display: none; }
.resp-nav.mobile li.open>.sub { display: block; }

.resp-nav.mobile .sub-title { background: #e5e5e5; padding: 8px 0; border-bottom: solid 1px #cccccc; position: absolute; top: 0; left: 0; width: 100%; z-index: 100; }
.resp-nav.mobile button { position: absolute; top: 8px; left: 15px; }
.resp-nav.mobile button.fwd { left: auto; right: 15px; }
.resp-nav.mobile button i { padding: 0; }
.resp-nav.mobile h2 { padding: 0 55px; text-align: center; line-height: 30px; height: 30px; overflow: hidden; margin: 0; }

.resp-nav.mobile .sub-links { height: 100%; padding-top: 47px; overflow: auto; margin: 0; }