.slider{
  position:relative;
  visibility:hidden;
}

.slider .frame{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  overflow:hidden;
  z-index:10;
}

/** Layer modifiers */
.slider .absolute{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  overflow:hidden;
}

.slider .fill-frame{
  width:100%;
  height:100%;
}

/** Image */
.slider img.fullwidth{
  width:100%;
  display:block;
}

/** layers */
.slider [class*="layer"] { position: absolute; top: 0; left: 0; }
.slider .layer0 { z-index: 10; }
.slider .layer1 { z-index: 20; }
.slider .layer2 { z-index: 30; }
.slider .layer3 { z-index: 40; }
.slider .layer4 { z-index: 50; }


/** Bgr Images */
.slider img.maxwidth { width: 100%; height: auto; }
.slider img.maxheight { width: auto; height: 100%; }
.slider.fixed .bgr img { width: 100%; }


/** Radio */
.slider .dots { position: absolute; left: 50%; margin-left: -100px; bottom: -30px; width: 200px; text-align: center; z-index: 100; }
.device-xs .dots, .device-sm .slider .dots { bottom: -30px; }
.slider .dots span { display: inline-block; width: 16px; height: 16px; border-radius: 8px; background: #cccccc; margin: 0 4px; cursor: pointer; }
.device-xs .slider .dots span, .device-sm .slider .dots span { margin: 0 6px; }
.slider .dots span.active { background: #414043; }

/** Next / Prev */
.slider i.slider-next, .slider i.slider-prev { position: absolute; top: 50%; margin-top: -15px; width: 30px; height: 30px; text-align: center; line-height: 30px; cursor: pointer; z-index: 100; }
.slider i.slider-next { right: 10px; }
.slider i.slider-prev { left: 10px; }

/** Counter */
.slider .counter { position: absolute; top: 15px; right: 15px; padding: 10px 15px; font-size: 16px; background: #111; color: #fff; z-index: 100; }
